{% extends "lolbet/base.html" %}

{% block title %}LoL Bet - FAQ{% endblock %}

{% block navbar-faq %}class="active"{% endblock %}

  <!-- Page BODY -->

{% block body %}
   <div class="content">
    <h2><span>F</span>AQ - <span>Fre</span>quently <span>Ask</span>ed <span>Que</span>stions</h2>
    <hr>

    <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clickable panel-collapsed">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse1">Example question</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><p>Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.</p>
    <p>Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.</p>
  </div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse2">Example question</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>

  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse3">Example question</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse4">Example question</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse5">Example question</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse6">Example question</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->
    
  </div>

  {% endblock %}