  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>SITE NAME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>

    
<div class="page-wrap">
 <div class="container" id="mainContainer">

  <!-- logo -->
      <div class="row">
        <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href="home.html">
    <center><img class="img-responsive logo" src="Pictures/logo11.png"></center>
  </a>
  </div>
  <div class="col-md-4"></div>


</div>
     
  <!-- end of logo -->

    


  <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

          <li><a href="home.html">Home</a></li>
          <li><a href="overview.html">Overview</a></li>
          <li><a href="">Ranking</a></li>
          <li class="active"><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact us</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  <!-- Page BODY -->

   <div class="jumbotron">
    <h2>FAQ - Frequently Asked Questions</h2>
    <hr>

    <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading clickable panel-collapsed">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse1">Example question</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><p>Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.</p>
    <p>Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.</p>
  </div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
<div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse2">Example question</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>

  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse3">Example question</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse4">Example question</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse5">Example question</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->

  <!-- Question -->
    <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="panel-clickable" data-toggle="collapse" href="#collapse6">Example question</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body"><p>This is an example of answer to the question</p>
          <p> we can do multiple paragraphe</p></div>
      </div>
    </div>
  </div>
  <!-- End of question -->
    
  </div>



 
  
  </div>

</div>

<!--Footer-->
<div class="container">
      <footer class="site_footer">
              <ul class="footer-nav">
              <li><a href="">About LoLBet</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
            
           

        <div class="bottom-footer">

          <div class="wrapInner">
            © 2015 LoLBet.net
            <div class="socialMedia">
            <a href=""><img width="28" style="vertical-align:middle;" src="pictures/fb.ico"></a>
            <a href=""><img width="28" style="vertical-align:middle;" src="pictures/twitter.ico"></a>
            </div>
          </div>
            
            
    </footer>

    </div>


    <!-- End of Footer -->





  </body>
  </html>
