  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>LoL Bet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lolbet/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    
<div class="page-wrap">
 <div class="container" id="mainContainer">

  <!-- logo -->
      <div class="row">
        <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href="home">
    <center><img class="img-responsive logo" src="{% static 'lolbet/Pictures/logo11.png' %}"></center>
  </a>
  </div>
  <div class="col-md-4"></div>


</div>
     
  <!-- end of logo -->

    


  <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

          <li class="active"><a href="home.html">Home</a></li>
          <li><a href="overview.html">Overview</a></li>
          <li><a href="">Ranking</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact us</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="" data-toggle="modal" data-target="#signModal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  <!-- Page BODY -->

  <script>
  function autoResize() {
      var el;
      try {
 el = window.getComputedStyle(document.getElementById('streamWindow'), null)
     .getPropertyValue('padding-left');
} catch(e) {
 el = document.getElementById('streamWindow').currentStyle.padding-left;
} 
    var x = document.getElementById("streamWindow").clientWidth;
    var y = parseInt(x) - 2*parseInt(el);
    var width = (y-100)/4;
    if(width < 155)
    {
      width = (y-70)/3;
    }
    if(width < 155)
    {
      width = (y-50)/2;
    }
    if(width < 155)
    {
      width = (y-20);
    }
    var stream = document.getElementsByClassName("stream");
    for(i=0 ; i<stream.length ; i++)
    {
      stream[i].style.width=width + "px";
    }
    
}
    window.onresize = function(event) {
      autoResize();
    
}
</script>

   <div class="jumbotron" onchange="resizeAuto()" id="streamWindow">
    
    <h2><span>Stream</span> Wall</h2>
    <hr>


    {% for item in streamers %}
        <div class="stream">
        <a href="overview.html" ><img src = "{{item.preview}}" class="img-responsive" alt="{{item.channelName}}"></a>
        <p class="stream-title">
          <a href="overview.html" title="{{item.status}}">
          {{item.status}}</a>
        </p>
        <p class="stream-info">
         {{item.viewers}}
          viewers on
          <a href="overview.html">{{item.channelName}}</a>
        </p>
        </div>

    {% endfor %}

    <hr>

  </div>

  <script>
autoResize();
</script>



 
  
  </div>

</div>


<!-- Modal Sign Up -->
  <div class="modal fade" id="signModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span><span>LOL</span>BET</span> <span><span>Acc</span>ount</span> <span><span>Crea</span>tion</span></h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login to Lol Bet</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

 <!--Footer-->
<div class="container">
      <footer class="site_footer">
              <ul class="footer-nav">
              <li><a href="">About LoLBet</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
            
           

        <div class="bottom-footer">

          <div class="wrapInner">
            © 2015 LoLBet.net
            <div class="socialMedia">
            <a href=""><img width="28" style="vertical-align:middle;" src="{% static 'lolbet/Pictures/fb.ico' %}"></a>
            <a href=""><img width="28" style="vertical-align:middle;" src="{% static 'lolbet/Pictures/twitter.ico' %}"></a>
            </div>
          </div>
            
            
    </footer>

    </div>


    <!-- End of Footer -->





  </body>
  </html>
