  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>SITE NAME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>

    
<div class="page-wrap">
 <div class="container" id="mainContainer">

  <!-- logo -->
      <div class="row">
        <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href="home.html">
    <center><img class="img-responsive logo" src="Pictures/logo11.png"></center>
  </a>
  </div>
  <div class="col-md-4"></div>


</div>
     
  <!-- end of logo -->

    


  <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

          <li><a href="home.html">Home</a></li>
          <li  class="active"><a href="overview.html">Overview</a></li>
          <li><a href="">Ranking</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contact.html">Contact us</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

  <!-- Page BODY -->

  <div class="row">

    <div class="col-md-7">
      <div class="jumbotron">
    <h2>Streamer's Name - "Summoner's Name"</h2>

    <center><iframe src="http://www.twitch.tv/riotgames/embed" frameborder="0" scrolling="no" height="300" width="480"></iframe></center>

  </div>
</div>
    <div class="col-md-5">
    <div class="jumbotron" style="height:388px;">
    <h2>Current Bet </h2>

    <p> here will be the bet window with the user interfaces </p>

  </div>

</div>


  </div>

   

  <div class="jumbotron">
    <h2>Summoner's Name</h2>
    <h5>Game Type | Game Map | Server</h5>
    <hr>

    <div class="table-responsive table-bg">
    <table class="table">
        <tbody>

          <!-- debut team bleu -->

            <tr>
                <td>
                  <center><h5 class="summoner-name-blue">Summoner's Name</h5></center>
        <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Anivia_0.jpg" alt="Anivia"/>
      <h5 class="kda">7.8 / 8.5 / 12.0 </h5>
      <h5 class="wl"> W:18 - L:25</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/DiamondBadge.png">
        <span>
        <center><b>Diamond 4 - 29 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">IV</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/flash.png">
      <img class="summoner2" src="pictures/barrier.png">


      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-blue">Summoner's Name</h5></center>
        <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Thresh_0.jpg" alt="Thresh"/>
      <h5 class="kda">5.8 / 2.0 / 10 </h5>
      <h5 class="wl"> W:5 - L:2</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/PlatinumBadge.png">
        <span>
        <center><b>Platinum 3 - 46 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">III</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/exhaust.png">
      <img class="summoner2" src="pictures/flash.png">
      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-blue">Summoner's Name</h5></center>
        <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Olaf_0.jpg" alt="Olaf"/>
      <h5 class="kda">3.4 / 4.8 / 5 </h5>
      <h5 class="wl"> W:2 - L:3</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/GoldBadge.png">
        <span>
        <center><b>Gold 2 - 67 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">II</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/teleport.png">
      <img class="summoner2" src="pictures/flash.png">
      

        </div>
      </td>
                <td> 
                  <center><h5 class="summoner-name-blue">Summoner's Name</h5></center>
        <div class="image image-blue">

    <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Hecarim_0.jpg" alt="Hecarim"/>
      <h5 class="kda">4.0 / 3.5 / 7 </h5>
      <h5 class="wl"> W:15 - L:12</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/SilverBadge.png">
        <span>
        <center><b>Silver 5 - 88 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">V</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/flash.png">
      <img class="summoner2" src="pictures/smite.png">
      

        </div>
      </td>
                <td>
                   <center><h5 class="summoner-name-blue">Summoner's Name</h5></center>
        <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Mordekaiser_0.jpg" alt="Mordekaiser"/>
      <h5 class="kda">5.8 / 2.7 / 5.9 </h5>
      <h5 class="wl"> W:250 - L:234</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/BronzeBadge.png">
        <span>
        <center><b>Bronze 1 - 33 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">I</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/flash.png">
      <img class="summoner2" src="pictures/heal.png">
      

        </div>
      </td>
            </tr>
<!-- fin de la team blue -->

<tr>

  <td></td>
  <td></td>
  <td style="height:80px;"></td>
  <td></td>
  <td></td>

</tr>

<!-- debut team rouge -->

            <tr>
                <td>
                <center><h5 class="summoner-name-red">Summoner's Name</h5></center>
        <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Janna_0.jpg" alt="Janna"/>
      <h5 class="kda">7.8 / 8.5 / 12.0 </h5>
      <h5 class="wl"> W:18 - L:25</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/ChallengerBadge.png">
        <span>
        <center><b>Challenger 1 - 450 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">I</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/exhaust.png">
      <img class="summoner2" src="pictures/flash.png">


      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-red">Summoner's Name</h5></center>
        <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/KogMaw_0.jpg" alt="Kog'Maw"/>
      <h5 class="kda">5.8 / 2.0 / 10 </h5>
      <h5 class="wl"> W:5 - L:2</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/MasterBadge.png">
        <span>
        <center><b>Master 1 - 120 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">I</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/heal.png">
      <img class="summoner2" src="pictures/flash.png">
      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-red">Summoner's Name</h5></center>
        <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Azir_0.jpg" alt="Azir"/>
      <h5 class="kda">0 / 0 / 0 </h5>
      <h5 class="wl"> W:0 - L:0</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/Unranked.png">
        <span>
        <center><b>Unranked</b></center>
    </span>
      </a>
      <h6 class="leaguen">Lvl 28</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/ignite.png">
      <img class="summoner2" src="pictures/flash.png">
      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-red">Summoner's Name</h5></center>
        <div class="image image-red">

    <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Evelynn_0.jpg" alt="Evelynn"/>
      <h5 class="kda">4.0 / 3.5 / 7 </h5>
      <h5 class="wl"> W:15 - L:12</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/DiamondBadge.png">
        <span>
        <center><b>Diamond 3 - 25 LP</b></center>
    </span>
      </a>
      <h6 class="leaguen">III</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/flash.png">
      <img class="summoner2" src="pictures/smite.png">
      

        </div>
      </td>
                <td>
                <center><h5 class="summoner-name-red">Summoner's Name</h5></center>
        <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Riven_0.jpg" alt="Riven"/>
      <h5 class="kda">5.8 / 2.7 / 5.9 </h5>
      <h5 class="wl"> W:250 - L:234</h5>
      <h5 class="bg"></h5>
      <a href="" class="tooltip3"><img class="league" src="pictures/GoldBadge.png">
        <span>
        <center><b>Gold 4 - 53 LP</b></center>
    </span>
      </a>
      
      <h6 class="leaguen">IV</h6>
      <a href="" class="tooltip2"><img class="runes" src="pictures/runes.png">
        <span>
        <b>Runes:</b>
        <br>+64 Health
        <br>+12.8 Armor
        <br>+4 Magic Resist
        <br>+8.5 Attack Damage
        <br>+5% Cooldown Reduction
        <br>
        <br>
        <b>Masteries:</b>
        <br>0/9/21
    </span>
      </a>
      <img class="summoner1" src="pictures/flash.png">
      <img class="summoner2" src="pictures/teleport.png">
      

        </div>
      </td>
            </tr>
        </tbody>
    </table>



</div>

    <hr>

    <h2>Banned Champions</h2>

    <div class="table-responsive">
    <table class="table">
        <tbody>

          <tr>

            <td>
              <center>

                <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Skarner_0.jpg" alt="Skarner"/>

    </center>
            </td>
            <td>
              <center>

                <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Fiora_0.jpg" alt="Fiora"/>

    </center>
            </td>
            <td>
              <center>

                <div class="image image-blue">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Gangplank_0.jpg" alt="GangPlank"/>

    </center>
            </td>

  <td style="vertical-align:middle;" width="20">  </td>

            <td>
              <center>

                <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Elise_0.jpg" alt="Elise"/>

    </center>
            </td>
            <td>
              <center>

                <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Fizz_0.jpg" alt="Fizz"/>

    </center>
            </td>
            <td>
              <center>

                <div class="image image-red">

      <img width="145" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Darius_0.jpg" alt="Darius"/>

    </center>
            </td>

          </tr>

          </tbody>

        </table>

      </div>

      <hr>





  </div>




 
  
  </div>

</div>


 <!--Footer-->
<div class="container">
      <footer class="site_footer">
              <ul class="footer-nav">
              <li><a href="">About LoLBet</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact Us</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
            
           

        <div class="bottom-footer">

          <div class="wrapInner">
            © 2015 LoLBet.net
            <div class="socialMedia">
            <a href=""><img width="28" style="vertical-align:middle;" src="pictures/fb.ico"></a>
            <a href=""><img width="28" style="vertical-align:middle;" src="pictures/twitter.ico"></a>
            </div>
          </div>
            
            
    </footer>

    </div>


    <!-- End of Footer -->





  </body>
  </html>
