  {% extends "lolbet/base.html" %}
  {% load staticfiles%}
  {% block title %}LoL Bet - {{channelName}}{% endblock %}

  <!-- Page BODY -->
  {% block body %}

  <div class="row">
    <div class="col-md-7">
      <div class="content " id="streamWindow">
    <h2><span>{{channelName}}</span> - Stream</h2>

    <center><iframe src="http://www.twitch.tv/{{channelName}}/embed" width="100%" height="100%" id="stream"></iframe></center>

    </div>
    </div>
    <div class="col-md-5">
      <div class="content" id="betWindow">
    <h2><span>Current</span> Bet </h2>

    <p> here will be the bet window with the user interfaces </p>

  </div>
    </div>

  </div>

      

    

  <div class="content" id="lookup">
    
  </div>

   

  

  <script>
 //document.getElementById("iframe1").height= "0px";
  function autoResizeFrame(id){
    var el;
      try {
 el = window.getComputedStyle(document.getElementById('streamWindow'), null)
     .getPropertyValue('padding-left');
} catch(e) {
 el = document.getElementById('streamWindow').currentStyle.padding-left;
} 
    var x = document.getElementById("streamWindow").clientWidth;
    var y = parseInt(x) - 2*parseInt(el);

    document.getElementById(id).height= y*9/16+"px";
    document.getElementById(id).width= y + "px";

    document.getElementById('betWindow').style.height = document.getElementById('streamWindow').offsetHeight +"px";
    document.getElementById('betWindow').style.min-height = document.getElementById('streamWindow').offsetHeight +"px";
    document.getElementById('betWindow').style.max-height = document.getElementById('streamWindow').offsetHeight +"px";

}
  autoResizeFrame("stream");
  window.onresize = function(event) {
      autoResizeFrame("stream");
}

  var gameID = 0;
function getInfo() {
  $.post("{% url "lolbet.views.gameInfo" %}",
        {
          channelName: "{{channelName}}"
        },
        function(data,status){
          if(data=="False")
          {
            //voir ce qu'on affiche si on ne trouve pas de game
            //alert("noDATA");
            document.getElementById("lookup").setAttribute("style","display:none");
            //Afficher le match history
          }else{
            //transformer les data en JSON et prendre l'id puis lancer le json dans updateLookup et modifier update lookup
            var object = JSON.parse(data);
            
            //alert("DATA");
             if(gameID != object.gameId){
              gameID = object.gameId;
              alert(gameID);
              //show in game stat
              var lookup = document.getElementById("lookup");
              updateLookup(object,lookup);

              
            }
          }
        });
}
    getInfo();
    setInterval(function() {getInfo()},59000);

    
  </script>

 {% endblock %}