{% extends "lolbet/base.html" %}

<!-- Title of the page -->
{% block title %}LoL Bet - Register{% endblock %}

<!-- Active button on navbar -->
{% block navbar-register %}class = "active" {% endblock %}


<!-- Body -->
{% block body %}

  <div class="row">
    <div class="col-md-7">
      <div class="content">
        <h2 style="text-align:center;"><span>LOL</span>BET <span>Acc</span>ount <span>Crea</span>tion</h2>
        <hr>

        <form class="form-horizontal" name="signInForm" role="form" action="{% url "lolbet.views.register" %}" method="post" onsubmit="return validateSignin()">

          {% csrf_token %}

          <div class="form-group">
            <label class="control-label col-sm-4" for="id_username">Username:</label>
            <div class="col-sm-7">
              <input class="form-control" id="id_username" maxlength="30" name="username" type="text" placeholder="Username">
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="usernameHint"><p>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="id_email">Email:</label>
            <div class="col-sm-7">
              <input class="form-control" id="id_email" name="email" type="email" placeholder="your@email.com">
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="emailHint"><p>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="id_password1">Password:</label>
            <div class="col-sm-7">
              <input class="form-control" id="id_password1" name="password1" type="password" placeholder="Password">
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="pass1Hint"><p>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="id_password2">Confirm Password:</label>
            <div class="col-sm-7">
              <input class="form-control" id="id_password2" name="password2" type="password" placeholder="Confirm Password">
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="pass2Hint"><p>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-4" for="id_verifyAge">Verify Age:</label>
            <div class="col-sm-7">
              <input class="form-control" id="id_verifyAge" name="verifyAge" type="date" style="width:160px">
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="ageHint"><p>
          </div>

          <div class="form-group">        
            <div class="col-sm-offset-4 col-sm-7">
              <div class="checkbox">
                <label><input name="terms" type="checkbox"> I agree to the <a href="">Term of Use</a> and <a href="">Privacy Policy</a></label>
              </div>
            </div>
            <p class="hint col-sm-offset-4 col-sm-7" id="termsHint"><p>
          </div>

          <button style="float:right;" type="submit" name="loginSubmit" class="btn btn-default">Submit</button>

          <p> Already a Member? <a href="javascript:void(0)" onclick="toggleLogin();">Login</a></p>

        </form>
      </div>
    </div>
    <div class="col-md-5">
      <div class="content">
        <h2><span>Some</span>Thing</h2>
      </div>
    </div>
  </div>


<script>   
  {% if errorLogin %}
    document.forms["loginForm"]["username"].value = "{{errorData.0}}";
    document.getElementById("logPassHint").innerHTML  = "! Invalid Credidentials";

  {% endif %}


  {% if errorUser or errorEmail %}
    document.forms["signInForm"]["username"].value = "{{errorData.0}}";

    document.forms["signInForm"]["email"].value = "{{errorData.1}}";

    document.forms["signInForm"]["password1"].value = "{{errorData.2}}";

    document.forms["signInForm"]["password2"].value = "{{errorData.3}}";

    document.forms["signInForm"]["terms"].checked = true;

    {% if errorUser %}
      document.getElementById("usernameHint").innerHTML  = "! Username already used";
    {% endif %}

    {% if errorEmail %}
      document.getElementById("emailHint").innerHTML  = "! Email already used";
    {% endif %}

  {% endif %}
</script>

{% endblock %}


