<form action="/lolbet/home" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="7m164Betv28qySCwifhzd9uMGZYyGfbm">
            <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text"></p>
<p><label for="id_email">Email:</label> <input id="id_email" name="email" type="email"></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password"></p>
<p><label for="id_password2">Confirm Password:</label> <input id="id_password2" name="password2" type="password"></p>
<p><label for="id_verifyAge">Verifyage:</label> <input id="id_verifyAge" name="verifyAge" type="text"></p>
            <input type="submit" value="Submit">
          </form>

          {{streamer}}